@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;900&family=Poppins:wght@700&display=swap');

:root {
  --primary-main: #00C087;
  --primary-light: #18ED98;
  --primary-dark: #00B796;
  --primary-contrastText: #2A2843;
  --secondary-main: #AA68FE;
  --secondary-light: #CC78FF;
  --secondary-dark: #875AE4;
  --secondary-contrastText: #EFF1F4;
  --middle: #61ABCB;
  --gradient-full: linear-gradient(90deg, #00C087 1.43%, #AA68FE 100%);
  --gradient-half1: linear-gradient(90deg, #00C087 1.43%, #61ABCB 100%);
  --gradient-half2: linear-gradient(90deg, #61ABCB 1.43%, #AA68FE 100%);
  /* light */
  --text-primary: #4D4A75;
  --text-secondary: #4D4A75AA;
  --text-disabled: #A2AFC5;
  --divider: #4D4A7580;
  --paper: #EFF1F4;
  --background: #F9F9FB;
  --paper-gradient: linear-gradient(180deg, #F4F5F7 0%, #F9F9FB 100%);
  /* others */
  --success: #79F09A;
  --warning: #FFEC42;
  --shadow-lvl1: 0px 1px 3px rgba(0, 0, 0, 0.12);
  --shadow-input: 0px 4px 4px rgba(255, 255, 255, 0.05), inset 0px 2px 8px rgba(0, 0, 0, 0.075);
  --fontfamily: 'Jost', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  --semibold: 600;
}

:root .dark-mode {
  --text-primary: #D6DDE8;
  --text-secondary: #D6DDE8AA;
  --text-disabled: #697A95;
  --divider: #D6DDE880;
  --paper: #2A2843;
  --background: #1E1C35;
  --paper-gradient: linear-gradient(180deg, #24223C 0%, #2A2843 100%);
}

html, body, #root {
  width: 100%;
  height: 100%;
  background-color: var(--background);
  color: var(--text-primary);
  font-size: 14pt;
}
#root {
  overflow: auto;
}

body {
  margin: 0;
  font-family: var(--fontfamily);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5 {
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  font-family: inherit;
  cursor: inherit;
}

li {
  margin-left: 1.25em !important;
}

.paper {
  background-color: var(--paper);
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-thumb {
	background: var(--primary-main);
}
::-webkit-scrollbar-track {
	background: var(--paper);
}
input[type="date"]::selection, mark {
	background: var(--primary-main);
  color: var(--text-primary);
}
mark {
	padding: 0px 0.25em;
}
::-moz-selection {
	background: var(--primary-main);
  color: var(--background);
}
::selection {
	background: var(--primary-main);
  color: var(--background);
}

.material-icons {
	font-size: 1.1em;
	line-height: inherit;
	position: relative;
}
.material-icons {
  font-size: 1.2em;
}


a {
  color: inherit;
}
a.btn {
  text-decoration: none;
}
a, button, summary {
  cursor: pointer;
}
.MuiButton-root:disabled {
  box-shadow: none;
}

/*  */
.row, .column, .grid {
	position: relative;
  display: flex;
	align-content: center;
	align-items: center;
}
.row, .grid {
  margin-left: auto;
  margin-right: auto;
	flex-wrap: wrap;
}
.row {
  gap: 0.5em;
  flex-direction: row !important;
}
span.row {
  flex-wrap: nowrap;
  margin: 0px;
}
.cols-1 {
	max-width: 32em;
	margin: 0px auto;
}
.row.cols-2 {
  gap: 1em;
}
.row.cols-2 > *{
	max-width: calc(50% - 1em);
}
.row.cols-3 {
	justify-content: center;
}
.row.cols-3 > *{
	max-width: calc(33% - 1em);
}
.f-fill {
	flex-grow: 1;
}
.f-break {
	flex-basis: 100%;
}
.text-center {
	text-align: center;
}
.column {
  gap: 1.5em;
	flex-direction: column !important;
}
.column.c-short {
  gap: 0.5em;
  /* justify-content: stretch;
  align-items: stretch; */
  align-items: flex-start;
  width: 100%;
}
.column.c-short .row {
  margin: 0px;
}
.grid {
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  gap: 1em;
}

/*  */
ul {
  margin: 0px;
  padding: 0px;
}

/*  */
.MuiPaper-root {
  background-image: var(--paper-gradient);
}

/*  */
.border-gradient {
  background: 
    linear-gradient(var(--background) 0 0) padding-box,
    var(--gradient-full) border-box;
  border: 2pt solid transparent;
}
button.gradient, .MuiButton-root.gradient {
  background: var(--gradient-half1);
  transition: 0.2s !important;
  color: var(--background);
}
button.gradient:hover, .MuiButton-root.gradient:hover {
  background: var(--gradient-half2);
}
.gradient .MuiLinearProgress-bar,
.MuiTypography-root.gradient {
  background-image: var(--gradient-full);
}
.MuiTypography-root.gradient {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}


/*  */
button, .MuiPaper-root, .MuiButton-root {
  border-radius: 1.25em !important;
}

/*  */
header, footer {
  background: var(--background);
  color: var(--text-primary);
  align-items: center;
}

header {
  width: calc(100% - 2em);
  padding: 0px 1em;
  top: 0px;
  z-index: 10000;
  position: sticky !important;
}
header img {
  max-height: 1.5em;
}

/*  */
footer {
  padding: 3em 3em 4em;
  justify-content: space-around;
}
footer h5 {
  position: relative;
  padding-bottom: 1em;
}
footer h5::after {
  content: '';
  height: 2px;
  position: absolute;
  bottom: 0.5em;
  left: 0px;
  right: 0px;
  background-image: var(--gradient-full);
}

/*  */
main {
  position: relative;
}

/*  */
section {
	min-height: calc(90vh - 4em);
	padding: 2em 2.5em;
	position: relative;
  display: flex;
}
section.MuiGrid-root {
  justify-content: space-around;
}
section.row {
	justify-content: space-evenly;
}
section.column {
	justify-content: center;
}

/*  */
main .MuiButtonBase-root.Mui-selected {
  color: var(--text-primary);
}

/*  */
aside {
  max-width: 20em !important;
}
aside .MuiTypography-caption {
  align-self: flex-start;
}

/*  */
.MuiStepper-root {
  width: 100%;
}
.step-gradient .MuiStep-root {
  max-width: 16em;
}
.step-gradient .MuiStepConnector-horizontal {
  margin-top: 1.5em;
}
.step-gradient svg {
  width: 2em;
  height: 2em;
}
.step-gradient svg circle {
  fill: url(#gradient) #AA68FE ;
}
.step-gradient svg text {
  fill: var(--background);
  font-weight: bold;
  font-size: 0.5em;
}
.MuiStepLabel-label {
  font-weight: bold !important;
}
.all-active .MuiStepLabel-label {
  color: var(--text-primary) !important;
}

/*  */
details {
  align-self: stretch;
  min-width: 300;
}
summary {
  font-weight: bold;
}
details[open] summary {
  color: var(--primary-dark);
}
details > div {
  color: var(--text-secondary);
}

.MuiAccordion-root {
  background: var(--background);
  border: none !important;
}
.MuiAccordion-root::before {
  content: none !important;
}
.MuiAccordion-root .MuiAccordionSummary-root {
  font-weight: bold;
}
.MuiAccordion-root .MuiAccordionSummary-root .Mui-expanded {
  color: var(--primary-dark);
}

/*  */
.MuiLinearProgress-root {
  width: 100%;
  height: 1em !important;
  background-color: var(--paper) !important;
}
.MuiLinearProgress-root, .MuiLinearProgress-bar {
  border-radius: 1em;
}


/*  */
.project-card, .reward-card {
  position: relative;
  width: 100%;
}
.project-card {
  max-width: 402px;
}
.project-card img {
  height: 268px;
  background: var(--paper);
}
.project-card .MuiCardContent-root.column {
  padding: 1.25em 1em 1em;
  align-items: stretch;
  gap: 1em;
}
.project-card .column.c-short {
  align-items: stretch;
}
.project-card .acronym {
  width: 100%;
  top: 48px;
  position: absolute;
  text-align: center;
  color: #FFFFFF80;
  font-size: 4em;
  font-weight: bold;
  text-transform: uppercase;
}
/*  */
.reward-card {
  max-width: 16em;
  padding: 1em 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  gap: 1em;
}
.reward-card button {
  align-self: center;
}

/*  */
div[role="tabpanel"]:not([hidden]) {
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}


/*  */
.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.75em 1em;
  gap: 0.5em;
  border-radius: 1em;
  width: fit-content;
}
.timer .MuiPaper-root {
  width: 3em;
  padding: 0.5em 0.5em 0.25em;
  text-align: center;
}


/*  */
.slider {
  max-width: 900px;
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.slider .imgs {
  width: 100%;
}
.slider img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}
.slider > button {
  position: absolute;
  top: calc(50% - 1em);
}
.slider > button[aria-label="previous"] {
  left: 0.5em;
}
.slider > button[aria-label="next"] {
  right: 0.5em;
}
.slider .MuiToggleButtonGroup-root {
  width: 100%;
  position: absolute;
  bottom: 1em;
  justify-content: center;
}


/* .MuiTextField-root {} */
.MuiFilledInput-root {
  background-color: var(--background) !important;
  border-radius: 2em !important;
  border-bottom: 2pt solid transparent;
  box-shadow: var(--shadow-input);
}
.MuiFilledInput-root:hover {
  background-color: var(--paper);
}
.MuiFilledInput-root:before,
.MuiFilledInput-root:after {
  content: none !important;
}
.MuiFilledInput-root.Mui-focused {
  background-color: var(--background);
  border-bottom: 2pt solid var(--primary-main);
}

/*  */
a .MuiChip-root {
  cursor: pointer;
}


/*  */
#faq > div {
  width: 50%;
  gap: 0.5em;
  align-items: stretch;
}
#faq .MuiAccordion-root.Mui-expanded {
  margin: 0px;
}
#faq .MuiAccordionSummary-content.Mui-expanded {
  min-height: 1.5em;
  margin: 0.5em 0px;
}


@media (max-width: 1600px) {
  .slider img {
    height: 540px;
  }
}

@media (max-width: 1440px) {  
  :root {
    font-size: 12pt;
  }
  .project-card {
    max-width: 300px;
  }
  .project-card img {
    height: 200px;
    background: var(--paper);
  }
  .slider img {
    height: 500px;
  }
}

@media (max-width: 1280px) {
  .slider img {
    height: 480px;
  }
}
